
config_lastchange*
modules_lastchange*
schema3.json
schema3_*.json
defaults_*.js
package-lock.json
node_modules
.vscode
*.txt
;*.png
config.html
*_lastchanged
somefile*.*
workdir/*
qrfile.png
animateCSS.js
module_form_schema.json
module_url_hash.json
canceled
installer_w_repo
local.css
module_installer/local.css
module_installer/module_selector_schema.json
