
config_lastchange*
modules_lastchange*
schema3.json
schema3_*.json
defaults_*.js
package-lock.json
node_modules
.vscode
*.txt
;*.png
config.html
*_lastchanged
somefile*.*
workdir/*
qrfile.png
animateCSS.js
module_form_schema.json
canceled
