 .expandable > legend::before {
  content: '\25B8';
  padding-right: 5px;
}
.expanded > legend::before {
  content: '\25BE';
}

.jsonform-required > label:after {
  content: ' *';
  color: red;
}

.jsonform-hasrequired:after {
  content: '* Required field';
  display: block;
  color: red;
  padding-top: 1em;
}

.expanded div.form-group {
	margin-left: 2em;
 }

.webform .btn {
  display:none;
}

.webform li.active > a.draggable  {
     /*all: revert */
}

.webform ul.ui-sortable {
   /* all: revert2 */
}

/* used to set the initial state of the modules */
.module_disabled  legend {
  color: red;
}
.module_enabled   legend {
  color: blue;
}

div ~ fieldset >legend {
    color: #333 !important;
}
span ~ fieldset >legend {
    color: #333 !important;
}
/* fieldset ~ fieldset >legend {
    color: #333 !important;
} */
div ~ fieldset  {
    margin-left: 2em;
}